<h1>Here!</h1>

<p>
  2 + 2 = <%= 2 + 2 %>
</p>
<p>
  The current time is <%= Time.now %>
</p>
<p>
  There are <%= Issue.count %> issues in the database, and
  <%= User.count %> users
</p>
<p>
  You are <%= current_user.email %>

  <a href="/users/edit">Edit my profile</a>
  <a href="http://www.google.com">Go to Google</a>

  <%= form_tag "/users/sign_out", method: :delete do %>
    <button>Sign Out</button>
  <% end %>
</p>