<a href="/all">Back</a>

<h1><%= @issue.title %></h1>

<!-- <p>Followers: <%= Follower.where(issue_id: @issue.id).count %></p> -->
<p>Followers: <%= @issue.followers.count %></p>

<p><%= @issue.description %></p>

<%= form_tag "/issues/#{@issue.id}/assign", method: :patch do %>
    <!-- <input type="number" name="developer_id"> -->
    <select name="developer_id" class="form-control">
      <% if @issue.assignee_id == nil %>
          <option></option>
      <% end %>
      <% Developer.active.each do |dev| %>
        <option value="<%= dev.id %>" <%= dev.id == @issue.assignee_id ? 'selected' : '' %>>
          <%= dev.name %>
        </option>
      <% end %>
    </select>

    <button class="btn btn-default">Assign</button>
<% end %>

<% if @issue.assignee %>
  <p>Assigned to <%= @issue.assignee.name %></p>
<% end %>

<h3>Comments</h3>

<%= form_tag "/comments" do %>
    <textarea name="contents"></textarea>
    <input type="hidden" name="issue_id" value="<%= @issue.id %>">
    <button class="btn btn-default">Post</button>
<% end %>

<% @issue.comments.each do |c| %>
    <div class="well">
      <strong><%= c.poster.email %></strong>
      <p><%= time_ago_in_words c.created_at %> ago</p>
      <p><%= c.contents %></p>
    </div>
<% end %>